PackageIdentifier: zavora-ai.sqlrite
PackageVersion: __VERSION__
InstallerType: zip
Installers:
  - Architecture: x64
    InstallerUrl: __WINDOWS_AMD64_URL__
    InstallerSha256: __WINDOWS_AMD64_SHA__
  - Architecture: arm64
    InstallerUrl: __WINDOWS_ARM64_URL__
    InstallerSha256: __WINDOWS_ARM64_SHA__
ManifestType: installer
ManifestVersion: 1.6.0
